============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0
rootdir: /home/gray/Projects/free-genai-bootcamp-2025/listening-comp
configfile: pyproject.toml
testpaths: tests
plugins: anyio-4.8.0
collected 13 items

tests/test_audio_processor.py ......ss.                                  [ 69%]
tests/test_db.py ....                                                    [100%]

=========================== short test summary info ============================
SKIPPED [2] tests/conftest.py:29: API test skipped. Use --api-tests to run
======================== 11 passed, 2 skipped in 0.41s =========================
