============================= test session starts ==============================
platform linux -- Python 3.12.9, pytest-8.3.4, pluggy-1.5.0
rootdir: /home/gray/Projects/free-genai-bootcamp-2025/listening-comp
configfile: pyproject.toml
testpaths: tests
collected 8 items

tests/test_audio_processor.py .....                                      [ 62%]
tests/test_db.py ...                                                     [100%]

============================== 8 passed in 0.04s ===============================
